rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /requests/{docId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if request.auth != null;
    }

    match /workshop/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}
